<%= stylesheet_link_tag 'common/main' %>
<%= stylesheet_link_tag 'common/reserves' %>
<h2>予約登録内容確認</h2>

<div>
    <div>※予約はまだ完了しておりません</div>
    <div>以下の内容で相談予約をいたします。</div>
    <div>内容をご確認の上、[予約する]ボタンを押してください。</div>
    <h3>ご予約内容</h3>
    <form method="POST" action="<%= users_reserve_register_path %>">
        <input type="hidden" name="datetime" value="<%= @datetime %>">
        <input type="hidden" name="expert_id" value="<%= @expert_id %>">
        <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div><label>エキスパートの種類</label><div><%= @expert_type.name %></div></div>
        <div><label>予約日時</label><div>
            <%= @datetime.to_time.strftime("%Y年%m月%d日 %H:%M") %>~<%= @datetime.to_time.since(30.minutes).strftime("%H:%M") %>
        </div></div>
        <% if @expert %>
            <div><label>エキスパート名</label><div><%= @expert.name %></div></div>
        <% end %>
        <div><label>ご要望・ご相談</label><input type="textarea" name="user_comment" class="textarea-primary"></div>
        <p><input type="submit" value="予約する" class="btn primary"></p>
    </form>
</div>
