<%= stylesheet_link_tag 'common/main' %>
<%= stylesheet_link_tag 'common/reserves' %>
<h2>予約登録</h2>

<div>
    <h3>相談したいエキスパートの種類を選択してください</h3>
    <ul class="expertOptionList">
        <% @expert_types.each do |expert_type| %>
            <li <% if @expert_type_id == expert_type.id  %> class="isSelected" <% end %>>
                <a href="<%= users_reserve_register_path(expert_type_id: expert_type.id) %>"><%= expert_type.name %></a>
            </li>
        <% end %>
    </ul>
    <h3>ご要望があればエキスパートを選択してください</h3>
    <ul class="expertOptionList">
        <li <% if !@expert_id  %> class="isSelected" <% end %>>
            <a href="<%= users_reserve_register_path %>">指名なし</a>
        </li>
    <% @experts.each do |expert| %>
            <% if !expert.name.empty?  %>
            <li <% if @expert_id == expert.id  %> class="isSelected" <% end %>>
                <a href="<%= users_reserve_register_path(expert_id: expert.id) %>"><%= expert.name %></a>
            </li>
            <% end %>
    <% end %>
    </ul>
    <% if @expert  %>
    <div class="profile">
        <img class="profile__img" src="<%= @expert.get_image_path %>" alt="<%= @expert.name %>">
        <div class="profile__name"><%= @expert.name %></div>
        <div class="profile__desc"><%= @expert.profile %></div>
    </div>
    <% end %>
</div>
<div class="calendar">
    <h3>ご希望の相談日時を選択してください</h3>
    <table>
        <thead>
        <tr>
            <th rowspan="2" class="time-row">
                <% if 1 < @page  %>
                    <a href="<%= users_reserve_register_path(expert_id: @expert_id, page: @page - 1) %>">◁</a>
                <% else %>
                    ◁
                <% end %>
            </th>
            <% @dates.each do |k, v| %>
                <th colspan="<%= v.count %>">
                    <%= k %>
                </th>
            <% end %>
            <th rowspan="2" class="time-row">
                <a href="<%= users_reserve_register_path(expert_id: @expert_id, page: @page + 1) %>">▷</a>
            </th>
        </tr>
        <tr>
            <% @dates.each do |k, v| %>
                <% v.each do |date| %>
                    <th class="
                            <% if date['date'].wday == 6  %> sat <% end %>
                            <% if date['date'].wday == 0 || (date['date'].wday != 6 && HolidayJapan.check(date['date']) )  %> sun <% end %>
                            ">
                        <%= l(date['date'], format: :day) %> <br> <%= date['day'] %>
                    </th>
                <% end %>
            <% end %>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>
                <table>
                    <tbody>
                    <% @frames.each do |frame| %>
                        <tr class="reservable-frame-row"><th><%= frame.strftime('%H:%M') %></th></tr>
                    <% end %>
                    </tbody>
                </table>
            </th>
            <% @reservable_frames.each do |k, v| %>
                <th>
                    <table>
                        <tbody>
                        <% v.each do |schedule| %>
                            <tr class="reservable-frame-row">
                                <td>
                                <% if schedule['reservable'] %>
                                    <%= link_to "○", users_reserve_register_confirm_path(expert_id: @expert_id, datetime: schedule['datetime'], expert_type_id: @expert_type_id) %>
                                <% else %>
                                    <span>×</span>
                                <% end %>
                                </td>
                            </tr>
                        <% end %>
                        </tbody>
                    </table>
                </th>
            <% end %>
            <th>
                <table>
                    <tbody>
                    <% @frames.each do |frame| %>
                        <tr class="reservable-frame-row"><th><%= frame.strftime('%H:%M') %></th></tr>
                    <% end %>
                    </tbody>
                </table>
            </th>
        </tr>
        </tbody>
    </table>
</div>
