<%= stylesheet_link_tag 'common/main' %>
<%= stylesheet_link_tag 'common/reserves' %>
<h2>予約可能枠登録</h2>

<div>
    <h3>ご希望の予約枠を選択して、[予約枠の登録]ボタンを押してください</h3>
    <form method="POST" action="<%= experts_reservable_frame_register_path %>">
        <input type="hidden" name="page" value="<%= @page %>">
        <input type="hidden" id="authenticity_token" name="authenticity_token" value="<%= form_authenticity_token %>">
        <div class="calendar">
            <table>
                <thead>
                <tr>
                    <th rowspan="2" class="time-row">
                        <% if 1 < @page  %>
                            <a href="<%= experts_reservable_frame_register_path(page: @page - 1) %>">前の2週間</a>
                        <% else %>
                            前の2週間
                        <% end %>
                    </th>
                    <% @dates.each do |k, v| %>
                        <th colspan="<%= v.count %>">
                            <%= k %>
                        </th>
                    <% end %>
                    <th rowspan="2" class="time-row">
                        <a href="<%= experts_reservable_frame_register_path(page: @page + 1) %>">次の2週間</a>
                    </th>
                </tr>
                <tr>
                    <% @dates.each do |k, v| %>
                        <% v.each do |date| %>
                            <th class="
                            <% if date['date'].wday == 6  %> sat <% end %>
                            <% if date['date'].wday == 0 || (date['date'].wday != 6 && HolidayJapan.check(date['date']) )  %> sun <% end %>
                            ">
                            <%= l(date['date'], format: :day) %> <br> <%= date['day'] %> </th>
                        <% end %>
                    <% end %>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <table>
                            <tbody>
                            <% @frames.each do |frame| %>
                                <tr class="reservable-frame-row"><th><%= frame.strftime('%H:%M') %></th></tr>
                            <% end %>
                            </tbody>
                        </table>
                    </th>
                    <% @reservable_frames.each do |k, v| %>
                        <th>
                            <table>
                                <tbody>
                                <% v.each do |schedule| %>
                                    <tr class="reservable-frame-row">
                                        <td <% if !schedule['reservable'] %> class="not-reservable" <% end %>>
                                        <% if schedule['reservable'] %>
                                        <input type="hidden"
                                               value="0"
                                               name="reservable_frames[<%= schedule['datetime'] %>"
                                               <%= schedule['reserved'] ? 'disabled' : '' %>
                                        >
                                        <input type="checkbox"
                                               name="reservable_frames[<%= schedule['datetime'] %>]"
                                               value="1"
                                               <%= schedule['registered'] || schedule['reserved']  ? 'checked' : '' %>
                                               <%= schedule['reserved'] ? 'disabled' : '' %>
                                               >
                                        <% end %>
                                    </td>
                                    </tr>
                                <% end %>
                                </tbody>
                            </table>
                        </th>
                    <% end %>
                    <th>
                        <table>
                            <tbody>
                            <% @frames.each do |frame| %>
                                <tr class="reservable-frame-row"><th class="reservable-frame-cell"><%= frame.strftime('%H:%M') %></th></tr>
                            <% end %>
                            </tbody>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </div>
        <p><input type="submit" value="予約枠の登録"></p>
    </form>
</div>
