<!DOCTYPE html>
<html>
  <head>
    <title>🍬CanDyTalk 専門家相談予約サービス</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="apple-touch-icon" type="image/png" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/icon-192x192.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css">
  </head>

  <body>
    <%= render 'layouts/users/head' %>
    <div class="main">
        <% flash.each do |key, value| %>
            <div id="toast" class="<%= key %>">
                <p><%= value %></p>
            </div>
        <% end %>
        <%= yield %>
    </div>
  </body>
</html>
